{{#extend "base"}}
{{#content "main"}}

	<h2>Change in stock price since initial close</h2>

	<div class="charts-here">

		<div class="chart-div yume">
			<p class="name">YuMe</p>
			<div class="chart"></div>
		</div>
		<div class="chart-div rubi">
			<p class="name">Rubicon Group</p>
			<div class="chart"></div>
		</div>
	
		<div class="chart-div szmk">
			<p class="name">Sizmek</p>
			<div class="chart"></div>
		</div>
		<div class="chart-div fuel">
			<p class="name">Rocket Fuel</p>
			<div class="chart"></div>
		</div>

	</div>

{{/content}}
{{/extend}}
